@page "/users/{Userid:int}/portfolio"

<PageTitle>Portfolio</PageTitle>


<h1>@user.FirstName @user.LastName Portfolio</h1>

@* OVERVIIEW TAB - Show Portfolio performance summary and list of holdings *@

<MudTabs Outlined="true" Position="@Position.Top" Rounded="true" Border="true"
         ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
    <MudTabPanel Text="Overview">
        <MudText>Portfolio BookValue  : @($"{user.userPortfolio.initialValue:C2}")  </MudText>
        <MudText>Portfolio Value  : @($"{user.userPortfolio.currentValue:C2}")  </MudText>
        <MudText>Portfolio Performance  : @($"{user.userPortfolio.currentPerformance *100 :N2}%")  </MudText>
        <MudText>Cash Held : @user.userPortfolio.cash </MudText>
        <MudText>Contract notes</MudText>

        <br/>

        <h3>Current Holdings</h3>
        <MudTable Items="user.userPortfolio.holdings">
            <HeaderContent>
                <MudTh>Stock</MudTh>
                <MudTh>Symbol</MudTh>
                <MudTh>Shares</MudTh>
                <MudTh>Performance</MudTh>
                <MudTh>GBP Value</MudTh>
                <MudTh>Trade</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Stock">@context.shortName</MudTd>
                <MudTd DataLabel="Symbol">@context.symbol</MudTd>
                <MudTd DataLabel="Shares">@context.numberofShares</MudTd>
                <MudTd DataLabel="Performance">@($"{context.currentPerformance * 100:N2}%")</MudTd>
                    <MudTd DataLabel="GBP Value">@($"{context.currentValue:C2}")</MudTd> 
                    <MudTd DataLabel="Trade">
                        <MudButton OnClick="@(()=>NavigateToStockPage(context.symbol))" Variant="Variant.Filled">
                            Stock Page
                        </MudButton>
                    </MudTd>
            </RowTemplate>
        </MudTable>

@* ACTIVITY TAB - Show list of Orders on portfolio    *@
        
    </MudTabPanel>
    <MudTabPanel Text="Activity">
        <MudTable Items="user.userPortfolio.orders">
            <HeaderContent>
                <MudTh>Order Type</MudTh>
                <MudTh>Stock</MudTh>
                <MudTh>Symbol</MudTh>
                <MudTh>Shares</MudTh>
                <MudTh>Price</MudTh>
                <MudTh>Currency</MudTh>
                <MudTh>GBP/USD Fx rate</MudTh>
                <MudTh>GBP Value</MudTh>
               
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Order Type">@context.direction</MudTd>
                <MudTd DataLabel="Stock">@context.shortName</MudTd>
                <MudTd DataLabel="Symbol">@context.symbol</MudTd>
                <MudTd DataLabel="Shares">@context.numberOfShares</MudTd>
                <MudTd DataLabel="Price">@context.price</MudTd>
                <MudTd DataLabel="Currency">@context.currency</MudTd>
                <MudTd DataLabel="GBP/USD Fx rate">@context.fxRate</MudTd>
                <MudTd DataLabel="GBP Value">@context.gbpCashValue</MudTd>
               
            </RowTemplate>
        </MudTable>
            <MudButton OnClick="AddOrder" Variant="Variant.Filled">AddOrder</MudButton>
    
@* ADMIN TAB - TBC, look at adding contract notes *@

    </MudTabPanel>
    <MudTabPanel Text="Admin">
        <MudText>Content Three</MudText>
    </MudTabPanel>
</MudTabs>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="NavigateToUsersPage">Back to Users</MudButton>

    @code {
    
}
