@page "/stocklist/{Id:int}"
@using StocksApp.Components
@using StocksApp.Models.FX_models;
@inject NavigationManager NavManager;
@inject IDbContextFactory<StockAppDbContext> context
@inject IHttpClientFactory _clientFactory

<PageTitle>@stock.shortName</PageTitle>
<h1>@stock.shortName</h1>


<div>
    <h3>Summary Data</h3>
    <p>@stock.symbol @stock.currency @stock.regularMarketPrice - Exchange @stock.exchange</p>
</div>

<div>
    <br/>
    <p>***** Stock Price Chart to be added *****</p>
    <br />
</div>

<div>
    <h3>Pricing Data</h3>
    <p>Current Price : @stock.currency @stock.regularMarketPrice</p>
    <p>Previous Close: @stock.currency @stock.regularMarketPreviousClose</p>
    <br/>
    <p>Daily Change : @stock.currency @stock.regularMarketChange</p>
    <p>Daily Change % : @stock.regularMarketChangePercent</p>
    <br/>
    <p>Day Low : @stock.currency @stock.regularMarketDayLow</p>
    <p>Day High : @stock.currency @stock.regularMarketDayHigh</p>
    <p>Current FX rate GBP/USD : @_GBPtoUSD</p>
    <p>Inversed FX rate USD/GBP : @_USDtoGBP</p>
</div>

<br/>

@if(userList is not null)
{
    <div>

    <MudSelect T="Portfolio" Label="Portfolios" AnchorOrigin="Origin.BottomCenter" @bind-Value="selectedPortfolio">
        @foreach (User user in userList)
        {
            <MudSelectItem Value="user.userPortfolio" >@user.FirstName @user.LastName</MudSelectItem>
        }
    </MudSelect>
    <MudButton  OnClick="Buy" Variant="Variant.Filled" Color="Color.Success">Buy stock</MudButton>
    </div>


    <TradeStock visibility="@isOpen" stock="@stock" _direction="@tradeDirection" tradeStock="TradeStock" portfolio="@selectedPortfolio" />
}

<br/>

<div>
    <h3>Current Holdings</h3>
    <MudTable Items="stockHolders" Hover="true" Class="d-flex justify-end">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Number of Shares Held</MudTh>
            <MudTh>Cash Value</MudTh>
            <MudTh class="d-flex justify-center">Actions</MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name"> @context.FirstName @context.LastName</MudTd>
            <MudTd DataLabel=">Number of Shares Held">
                @context.userPortfolio.holdings[0].numberofShares
                @* need to look at a for loop for this *@

            </MudTd>
                <MudTd DataLabel=">Available Cash">@context.userPortfolio.cash</MudTd>
                <MudTd DataLabel="Actions" class="d-flex justify-space-evenly">
                    <MudButton  Variant="Variant.Filled" Size="Size.Small" Color="Color.Success">Increase Position</MudButton>
                    <MudButton  Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Sell Stock</MudButton>
                </MudTd>

            </RowTemplate>
        </MudTable>

</div>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small" OnClick="NavigateToUsersPage">Back to Stocks</MudButton>

@code {
    // TODO: Stock view to be add, look at bringing in charts? JSinterop or Mudblazor charts
    // TODO: add Buy/Sell buttons/functionality

    // TODO: Look into generating a basic orderconfirmation doc. Where will this be stored?

    [Parameter]
    public int Id { get; set; }
    public Stock stock { get; set; }
    public User[] stockHolders { get; set; }
    public double _GBPtoUSD { get; set; }
    public double _USDtoGBP { get; set; }

    // variables for TradeStock Component
    private bool isOpen = false;
    private string tradeDirection { get; set; } 
    public Portfolio selectedPortfolio { get; set; }
    public User[]? userList { get; set; }




    protected override async Task OnParametersSetAsync()
    {


        using var ctx = context.CreateDbContext();

        //Get FX rates
        var fxrates = ctx.FxRates.FirstOrDefault();
        _GBPtoUSD = fxrates.GBPtoUSD;
        _USDtoGBP = fxrates.USDtoGBP;


        //Get Stock
        stock = ctx.Stocks.FirstOrDefault(s => s.Id == Id);

        //Get users and portfolios to create array of users who hold this stock in their portfolio
        var users = await ctx.Users.Include(u => u.userPortfolio).ToArrayAsync();
        userList = users;

        var portfolioIds = await ctx.PortfolioStockModel
                            .Where(p => p.symbol == stock.symbol)
                            .Select(p => p.Id)
                            .ToArrayAsync();

        stockHolders = portfolioIds
                .SelectMany(p => users
                    .Where(u => u.PortfolioId == p)
                    .Select(u => u))
                    .ToArray();

        PortfolioStockModel PSM = new PortfolioStockModel { Id = 1, portfolioId = 1, shortName = "Apple Inc", symbol = "AAPL", numberofShares = 2000, currency = "USD", currentValue = 0, currentPerformance = 0 };
        stockHolders[0].userPortfolio.AddHolding(PSM);

    }


    //CREATE AN ORDER BASED ON STOCK,PORTOLIO AND DIRECTION - UPDATE HOLDINGS AND THEN PORTFOLIO
    public async Task TradeStock(Stock stock, Portfolio portfolio, string _direction)
    {
        var ctx = context.CreateDbContext();

        // Create new order
        Order order = new Order
            {
                shortName = stock.shortName,
                direction = _direction,
                numberOfShares = 1000,
                symbol = stock.symbol,
                currency = stock.currency,
                price = stock.regularMarketPrice,
                fxRate = _GBPtoUSD,
                gbpCashValue = (0 * stock.regularMarketPrice) * _USDtoGBP
            };
        // Add order to portfolio orders list
        portfolio.NewOrder(order);
        // update holdings - reviews updated order list anbd updates holdings appropiately
        portfolio.UpdateHoldings();

        //update portfolio with new holdings list
        ctx.Portfolio.Update(portfolio);
        await ctx.SaveChangesAsync();
        StateHasChanged();

    }


    public async void Buy()
    {
        tradeDirection = "Buy";
        isOpen = true;
    }

    public async void Sell()
    {
        tradeDirection = "Sell";
        isOpen = true;
    }

    private void NavigateToUsersPage()
    {
        NavManager.NavigateTo("/stocklist");
    }


}
