@page "/stocklist"
@using StocksApp.Data;
@using System.Text.Json;

<PageTitle>Stocks</PageTitle>
<h1>Stock List</h1>

@if(stocks is null)
{
    <div>Loading...</div>
}
else
{
    <MudTable Items="stocks"Hover="true" >
       <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{10,20,int.MaxValue}" />
       </PagerContent>
        <HeaderContent>
                <MudTh>Stock</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Current Price</MudTh>
                <MudTh>Prev Close</MudTh>
                <MudTh>Price Change</MudTh>
                <MudTh>% Change</MudTh>
        </HeaderContent>
        <RowTemplate>
                <MudTd DataLabel="Stock">
                    <MudButton
                        Variant="Variant.Filled"
                        Color="Color.Secondary"
                        OnClick="(()=>GoToStockView(context))"
                    >View Stock</MudButton> @context.symbol
                </MudTd>
                <MudTd DataLabel="Name">@context.shortName</MudTd>
                <MudTd DataLabel="Current Price">@context.regularMarketPrice</MudTd>
                <MudTd DataLabel="Prev Close">@context.regularMarketPreviousClose</MudTd>
                <MudTd DataLabel="Price Change">@context.regularMarketChange</MudTd>
                <MudTd DataLabel="% Change">@context.regularMarketChangePercent</MudTd>
       </RowTemplate>
    </MudTable>
}

@code {
   
}
