@page "/stocklist/{Id:int}"
@using StocksApp.Components
@using StocksApp.Models.FX_models;


<PageTitle>@stock.shortName</PageTitle>
<h1>@stock.shortName</h1>


<div>
    <h3>Summary Data</h3>
    <p>@stock.symbol @stock.currency @stock.regularMarketPrice - Exchange @stock.exchange</p>
</div>

<div>
    <br/>
    <p>***** Stock Price Chart to be added *****</p>
    <br />
</div>

<div>
    <h3>Pricing Data</h3>
    <p>Current Price : @stock.currency @stock.regularMarketPrice</p>
    <p>Previous Close: @stock.currency @stock.regularMarketPreviousClose</p>
    <br/>
    <p>Daily Change : @stock.currency @stock.regularMarketChange</p>
    <p>Daily Change % : @stock.regularMarketChangePercent</p>
    <br/>
    <p>Day Low : @stock.currency @stock.regularMarketDayLow</p>
    <p>Day High : @stock.currency @stock.regularMarketDayHigh</p>
    <p>Current FX rate GBP/USD : @_GBPtoUSD</p>
    <p>Inversed FX rate USD/GBP : @_USDtoGBP</p>
</div>

<br/>

@if(userList is not null)
{
    <div>
    <MudForm>
        <MudSelect T="Portfolio" Label="Portfolios" AnchorOrigin="Origin.BottomCenter" @bind-Value="selectedPortfolio" Required="true">
            @foreach (User user in userList)
            {
                <MudSelectItem required Value="user.userPortfolio" >@user.FirstName @user.LastName</MudSelectItem>
            }
        </MudSelect>
        <MudButton  OnClick="Buy" Variant="Variant.Filled" Color="Color.Success">Buy stock</MudButton>
    </MudForm>
    </div>

    //TRADE STOCK COMPONENT
    <TradeStock visibility="@isOpen" stock="@stock" _direction="@tradeDirection" addOrder="AddOrder" portfolio="@selectedPortfolio" />
}

<br/>

<div>
    <h3>Current Holdings</h3>
    <MudTable Items="stockHolders" Hover="true" Class="d-flex justify-end">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Number of Shares Held</MudTh>
            <MudTh>Cash Value</MudTh>
            <MudTh class="d-flex justify-center">Actions</MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name"> @context.FirstName @context.LastName</MudTd>
            @{
                int NumOfShares = 0 ;
                double CashValue = 0;

                foreach (var holding in context.userPortfolio.holdings)
                {
                    if( holding.symbol == stock.symbol)
                    {
                        NumOfShares = holding.numberofShares;
                        CashValue = holding.currentValue;
                    }
                }

            }


                <MudTd DataLabel=">Number of Shares Held">@NumOfShares</MudTd>
            <MudTd DataLabel=">Cash Value">@($"{CashValue:C2}")</MudTd>


                <MudTd DataLabel="Actions" class="d-flex justify-space-evenly">
                <MudButton OnClick="@(()=>BuyFromHoldingsView(context.userPortfolio))" Variant="Variant.Filled" Size="Size.Small" Color="Color.Success">Increase Position</MudButton>
                <MudButton OnClick="@(()=>SellFromHoldingsView(context.userPortfolio))" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Sell Stock</MudButton>
                </MudTd>

            </RowTemplate>
        </MudTable>

</div>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small" OnClick="NavigateToUsersPage">Back to Stocks</MudButton>


    @code {
   
}
