@page "/stocklist/{Id:int}"
@using StocksApp.Models.FX_models;
@inject NavigationManager NavManager;
@inject IDbContextFactory<StockAppDbContext> context
@inject IHttpClientFactory _clientFactory

<PageTitle>@stock.shortName</PageTitle>
<h1>@stock.shortName</h1>


<div>
    <h3>Summary Data</h3>
    <p>@stock.symbol @stock.currency @stock.regularMarketPrice - Exchange @stock.exchange</p>
</div>

<div>
    <br/>
    <p>***** Stock Price Chart to be added *****</p>
    <br />
</div>

<div>
    <h3>Pricing Data</h3>
    <p>Current Price : @stock.currency @stock.regularMarketPrice</p>
    <p>Previous Close: @stock.currency @stock.regularMarketPreviousClose</p>
    <br/>
    <p>Daily Change : @stock.currency @stock.regularMarketChange</p>
    <p>Daily Change % : @stock.regularMarketChangePercent</p>
    <br/>
    <p>Day Low : @stock.currency @stock.regularMarketDayLow</p>
    <p>Day High : @stock.currency @stock.regularMarketDayHigh</p>
    <p>Current FX rate GBP/USD : @_GBPtoUSD</p>
    <p>Inversed FX rate USD/GBP : @_USDtoGBP</p>
</div>

<br/>

<MudButton Variant="Variant.Filled" Color="Color.Success">Buy stock</MudButton>

<div>
    <h3>Current Holdings</h3>
    <MudTable Items="stockHolders" Hover="true" Class="d-flex justify-end">
        <HeaderContent>
            <MudTh>First Name</MudTh>
            <MudTh>Last Name</MudTh>
            <MudTh>Number of Shares Held</MudTh>
            <MudTh>Cash Value</MudTh>
            <MudTh class="d-flex justify-center">Actions</MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="First Name"> @context.FirstName</MudTd>
            <MudTd DataLabel="Last Name">@context.LastName</MudTd>
            <MudTd DataLabel=">Number of Shares Held">To be mapped once stock added to holdings</MudTd>
                <MudTd DataLabel=">Available Cash">@context.userPortfolio.cash</MudTd>
                <MudTd DataLabel="Actions" class="d-flex justify-space-evenly">
                    <MudButton  Variant="Variant.Filled" Size="Size.Small" Color="Color.Success">Increase Position</MudButton>
                    <MudButton  Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Sell Stock</MudButton>
                </MudTd>

            </RowTemplate>
        </MudTable>

</div>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small" OnClick="NavigateToUsersPage">Back to Stocks</MudButton>

@code {
    // TODO: Stock view to be add, look at bringing in charts? JSinterop or Mudblazor charts
    // TODO: add Buy/Sell buttons/functionality
    // TODO: API call reequired for current spot FX rates.
    // TODO: Look into generating a basic oderconfirmation doc. Where will this be stored?

    [Parameter]
    public int Id { get; set; }
    public Stock stock { get; set; }
    public User[] stockHolders { get; set; }
    public double _GBPtoUSD { get; set; }
    public double _USDtoGBP { get; set; }

    protected override async Task OnParametersSetAsync()
    {


        using var ctx = context.CreateDbContext();

        //Get FX rates
        var fxrates = ctx.FxRates.FirstOrDefault();
        _GBPtoUSD = fxrates.GBPtoUSD;
        _USDtoGBP = fxrates.USDtoGBP;


        //Get Stock
        stock = ctx.Stocks.FirstOrDefault(s => s.Id == Id);

        //Get users and portfolios to create array of users who hold this stock in their portfolio
        var users = await ctx.Users.ToArrayAsync();
        var portfolioIds = await ctx.PortfolioStockModel
                            .Where(p => p.symbol == stock.symbol)
                            .Select(p => p.Id)
                            .ToArrayAsync();

        stockHolders = portfolioIds
                .SelectMany(p => users.Where(u => u.PortfolioId == p).Select(u => u))
                .ToArray();

        //TODO:test holders load correctly once holdigns are loaded.


    }

    private void NavigateToUsersPage()
    {
        NavManager.NavigateTo("/stocklist");
    }

}
