@using StocksApp.Pages.Users;



@if(user is not null)
{
    <MudPopover Open="@visibility" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter" Style="padding:16px; margin: 16px;">
        <div class="d-flex flex-column" >
            <h1 style="text-decoration-line: underline;" >@user.FirstName @user.LastName's Account</h1>
            <MudText>Current Cash : @($"{user.userPortfolio.cash:C2}")</MudText>
            <div class="d-flex justify-center">
                <MudNumericField @bind-Value="amount" T="int"></MudNumericField>
                <MudButton Variant="Variant.Filled" OnClick="@_AddCash" Class="ml-auto mr-n3 mb-1" Color="Color.Success">Add Cash</MudButton>
            </div>
                <MudButton Variant="Variant.Filled" OnClick="@_Withdraw" Color=" Color.Secondary">Withdraw Cash</MudButton>
        </div>
    </MudPopover>
}


@code {
    
    }




          